.page-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
 
  cursor: pointer;

}

button:hover {
  background-color: hwb(61 15% 2%);
}

.error-message {
  color: red;
  }

.fa-list {
  margin-top: 20px;
}

.fa-list h2 {
  margin-bottom: 10px;
}

.fa-list ul {
  list-style-type: none;
  padding: 0;
}
.fa-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.fa-list li:last-child {
  border-bottom: none;
}

.DfaGraph{
  color: #007bff;
}
